<!DOCTYPE html>
<html lang="en" th:replace="layout/layout :: layout (~{:: #main})">
<link rel="stylesheet" th:href="@{../css/ams.css}" />>
<body>
<main id="main">
    <div class="container mt-5">
        <div class="alert alert-success" role="alert" th:if="${success}" >
            New Category successfully added.
        </div>
        <div class="wrapper">
        <div class="sidebar">
            <h2>SHARK</h2>
            <ul>
                <li><a href="customer.html"><i class="fa fa-address-book" aria-hidden="true"></i>Customer</a></li>
                <li><a href="category.html"><i class="fa fa-folder" aria-hidden="true"></i>Category</a></li>
                <li><a href="product.html"><i class="fa fa-user" aria-hidden="true"></i>Product</a></li>
                <li><a href="order.html"><i class="fa fa-user-circle" aria-hidden="true"></i>Order</a></li>
                <li><a href="login.html"><i class="fa fa-reply" aria-hidden="true"></i>Log Out</a></li>
            </ul>
        </div>
        <div class="main_content">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>CategoryName</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="category: ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.categoryName}"></td>
                    <td style="white-space:nowrap">
                        <a class="btn btn-primary btn-sm"
                           th:href="@{/category/edit(id=${category.id})}">Edit</a>

                        <a th:href="@{/category/delete/{id}(id=${category.id})}"
                           class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
            <a href="#" th:href="@{/category/show}" class="btn btn-primary">New Category
            </a>




    </div>
    </div>
</main>
</body>
</html>